{
    "ADMINBRS1": "15556665555",
    "ADMINBRS2": "None",
    "ADMIN1": "myemail@mailservice.com",
    "ADMIN2": "None",
    "BREVO_EMAIL_ADDRESS": "tidealert@mytidestation.org",
    "BREVO_EMAIL_USERNAME": "adjuuuudd@smtp-brevo.com",
    "BREVO_EMAIL_PASSWORD": "xsmtpsib-feesdlfakjsdflkeiurpwqokm;wrellfuaispoflwjqerpiufoaskjmerwopqui",
    "BREVO_SMTP_SERVER": "smtp-relay.brevo.com",
    "CONTACT_EMAIL": "tidealert@mytiidestation.org",
    "EMAIL_USERNAME": "alert@someservice.org",
    "EMAIL_PASSWORD": "PassWordsdlkj",
    "INFLUXDB_LOCAL_TOKEN": "apiv3_asldkfjsa;dlfksdf;lkjsdf;lsakjf;pdlkfs;dfkjas;dflkasj;flkdfjk;lakjf",
    "INFLUXDB_CLOUD_TOKEN": "sadflkajdfpoieelkrmpdfijsopfiwqmlf;wifjopdfqmkofieqwjfofmnsopfiquweofej",
    "NOTEHUB_SECRET": "l;kdfqldfkjl;dakfjal;dfkjdl;ka;ldfjl",
    "OBSCAPE_USER": "None",
    "OBSCAPE_KEY": "None",
    "WXUNDAPI": "None",
    "WXOPENAPI": "dslfkasjdflkajsfldskjffl",
    "WXLINKAPI_SECRET": "None",
    "WXLINKAPI": "None",
    "TWILIO_ACCOUNT_SID": "adslkjsdlfkjasd;flajskdf;lskadjf",
    "TWILIO_AUTH_TOKEN": "dkalsdkfja;ldfkj;asldfkjal;dfkj",
    "TWILIO_PHONE_SENDER": "18885555555",
    "TWILIO_PHONE_RECIPIENT": "15556665555",
    "SMTP_SERVER": "smtp.office365.com",
    "SMTP_PORT": "587"
}
