#Station location for sunrise/sunset and weather reports and forecasts

STATION_LOCATION='Belfast Harbor Maine'
STATION_LATITUDE=44.43
STATION_LONGITUDE=-69.0
STATION_NAME='Belfast Harbor Measured Tide'

#These are the parameters for the Hourly Marine Point Forecase, mislabled as NDBC
NDBC_LOCATION='2.94nm East of Belfast'
NDBC_LATITUDE=44.424
NDBC_LONGITUDE=-68.938

#Email Service
EMAIL_SERVICE='brevo'

#Path and file name for SQLite database file
SQL_PATH='/var/www/html/tides.db'
SQL_COPY='/home/tide/Uploads/tides.db'

#Path name for html files
HTML_DIRECTORY='/var/www/html/'

#Path name for cgi files
CGI_DIRECTORY='/usr/lib/cgi-bin/'
CGI_URL='https://www.sensortesting.org/cgi-bin/'
#Serial Ports
SERIAL_PORTS='USB0'
USB0_BAUDRATE=9600

#Tkinter canvas dimensions
TK_CANVAS_WIDTH=1000
TK_CANVAS_HEIGHT=440
TK_FULLSCREEN=0

#InfluxDB parameters
INFLUXDB_CLOUD_ORG='TideGauge'
INFLUXDB_CLOUD_BUCKET='TideData'
INFLUXDB_MEASUREMENT='tide_station'
INFLUXDB_LOCATION='BelfastME Dave RPi'
INFLUXDB_SENSOR='ultrasonic'
INFLUXDB_LOCAL_URL='http://127.0.0.1:8181'
INFLUXDB_CLOUD_URL='https://us-east-1-1.aws.cloud2.influxdata.com'
INFLUXDB_LOCAL_DATABASE='TideData'

#NOAA and National Data Buoy Center station ids.
NDBC_STATIONS='44033' 
NOAA_STATION='8415191'
NOAA_STATION_NAME='Belfast Harbor Predicted Tide'
NDBC_URL='https://www.ndbc.noaa.gov/station_page.php?station=44033'
NDBC_TITLE='NDBC - Station 44033 - Buoy F01 - 3NM Southeast of Owls Head Lighthouse'

#Station number / Sensor ID / Location lookup table, up to 3 stations.
# LoRa sensors don't transmit a 3-char Sensor ID natively (unlike
# Notecard sensors, which report their own sensor_id in the Notehub
# event), so this table lets read_sensor() look one up by station
# number. Leave a slot's SENSOR_ID/LOCATION blank if that station isn't
# in use.
STATION1_NUM=1
STATION1_SENSOR_ID=''
STATION1_LOCATION=''

STATION2_NUM=2
STATION2_SENSOR_ID='BE1'
STATION2_LOCATION='Belfast City Dock'

STATION3_NUM=3
STATION3_SENSOR_ID=''
STATION3_LOCATION=''

S1CLOUD_ENABLE=false
S2CLOUD_ENABLE=true
S3CLOUD_ENABLE=true

#Primary and backup weather services (wxlink, wxund, wxopen)
WX_SERVICE='openwx'

#Weather URL's provide link to website for their local weather display
WX_OPEN_URL='https://api.openweathermap.org/data/2.5/weather?'

#WeatherUnderground.com station id
WX_UND_STATION_ID='KMEBELFA39'
WX_UND_URL='https://www.wunderground.com/dashboard/pws/KMEBELFA11'
#WeatherLink Station ID
WX_LINK_STATION_ID='81347'

#Local Time Zone
TIME_ZONE='US/Eastern'

#URL for tide gauge webpage
TIDE_URL =  'https://www.sensortesting.org/tide.html'
TIDE_STATION_URL='/https://www.sensortesting.org'

#Directory for tide gauge scripts
HOME_DIRECTORY='/home/tide/bin/tidegauge'

#NWS Office and Gridpoints for local weather forecast
#https://www.weather.gov/documentation/services-web-api
NWS_LOCAL_GRIDPOINTS='GYX/107,101'

#NWS Office and Gridpoints for marine weather forecast
#https://www.weather.gov/documentation/services-web-api
NWS_MARINE_GRIDPOINTS='GYX/108,83'
NWS_RADAR='https://radar.weather.gov/ridge/standard/KGYX_loop.gif'
SMTP_PORT=587
