#Station location for sunrise/sunset and weather reports and forecasts
#Replace <notation> with your parameters. Include quotes if shown.
STATION_LATITUDE=<your station latitude> # no quotes, just numbers
STATION_LONGITUDE=<your station longitude>

#Path name for SQLite database file
SQLPATH=<'full path to database file'>

#NOAA and National Data Buoy Center station ids.
NDBC_STATIONS=<'station1-id,station2-id'>
NOAA_STATION=<'station-id'>

#WeatherUnderground.com station id
WX_UND_STATION_ID=<'station-name'>

#Local Time Zone
TIME_ZONE = 'US/Eastern'
