[Unit]
Description=Tide Monitor
After=network.target

[Service]
TimeoutSec=5min
ExecStartPre=/bin/sleep 60
Environment=DISPLAY=:0
ExecStart=/home/tide/bin/.tidenv/bin/python3  /home/tide/bin/tidegauge/tidemonitor.py
WorkingDirectory=/home/tide/bin/tidegauge
StandardOutput=inherit
StandardError=inherit
User=tide

[Install]
WantedBy=multi-user.target
